.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
}


.login {
    font-family: 'Montserrat';
    font-weight: 500;
    color: #fff;
}

.buttons_con {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn {
    font-family: 'Montserrat';
    font-weight: 600;
    padding: 15px 15px;
    gap: 8px;
    border: 1px solid transparent;
    background: #FFFFFF;
    color: #000;
    border-radius: 8px;
}