.container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 6rem;
}
.links {
    display: flex;
    gap: 2rem;
}
.logo_container {
    margin-right: 70px;
}
.logo {
    width: 110px;
    height: 40px;
}
