

.card {
    display: flex;
    align-items: end;
    height: 604px;
    width: 559px;
    border-radius: 15px;
    overflow: hidden;
    /* background-image: url(./img/Flight.jpg); */
}

.img_con {
    position: absolute;
    overflow: hidden;
    height: 604px;
    width: 559px;
    border-radius: 15px;
    z-index: 1;
}

.backg_img {
    height: 604px;
    width: 559px;
}

.text_con {
    background: linear-gradient(0deg, rgba(0,0,0,0.8995973389355743) 0%, rgba(13,13,13,0.6951155462184874) 40%, rgba(255,255,255,0) 100%);
    position: absolute;
    text-align: center;
    width: 560px;
    height: 280px;
    border-radius: 0 0 15px 15px;
    z-index: 2;
}

h1 {
    font-family: 'Montserrat';
    margin: 90px 0 10px 0;
    font-size: 3.2rem;
    font-weight: bold;
    color: white;
}

.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin: 10px;
    
    color: #FFFFFF;
}

.btn_con {
    display: flex;
    justify-content: center;
}

.value {
    display: flex;
    align-items: center;
}

.vector {
    width: 14px;
    padding-right: 10px;
}

