.btn {
    outline: none;
    border: none;
    padding: 1rem;
    background: #8dd3bb;
    text-align: center;
  
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 14px;
  
    color: #112211;
  }