.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
    background: #8DD3BB;
    padding: 218px 104px 64px 104px;
}

.container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 250px 175px 175px 175px 175px 175px;
    grid-template-rows: 140px;
    width: 1232px;
    height: 140px;
}

.container > div {
    width: 100%;
    height: 140px;
}

.logo_netWorx {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.netWorx_container {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.links_container {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.links_container > h5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    
    color: #112211;
}

.links_container > p > a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #112211;
    
    opacity: 0.7;
}

.links_container > p > a:hover {
    text-decoration: underline;
}