@font-face {
  font-family: "Montserrat";
  src: url("./public/fonts/Montserrat-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url("./public/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("./public/fonts/Montserrat-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("./public/fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("./public/fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}
a {
  text-decoration: none;
  outline: none;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.link_light {
  text-decoration: none;
  outline: none;
  font-size: 16px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 500;
}
.link_dark {
  text-decoration: none;
  outline: none;
  font-size: 16px;
  color: #112211;
  font-family: "Montserrat";
  font-weight: 500;
}
.dark_semibold {
  text-decoration: none;
  outline: none;

  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;

  color: #112211;
}
