.main__section {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 14rem;
}
.flight_select {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 8rem;
}
.sort_title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  
  color: #112211;
}
.sort_container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.filters {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}
.flights_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.ranges {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.rating {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.rates {
  display: flex;
  justify-content: start;
  gap: 1rem;
}
.airlines {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.trips {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}