.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
}
.title {
  font-family: "Trade";
  font-weight: 700;
  font-size: 26px;

  color: #000000;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inputs {
  display: grid;
  grid-template-columns: repeat(1fr, 2);
  gap: 15px;
}
#inp1 {
  grid-column: 1/3;
}
#inp4 {
  grid-column: 1/3;
}
#inp5 {
  grid-column: 1/3;
}
.input {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;

  color: #1c1b1f;

  border: 1px solid rgba(0, 0, 0, 0.329);
  border-radius: 5px;
  padding: 1rem 1.5rem;
}
.save_info {
  display: flex;
  align-items: center;
  gap: 10px;

  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;

  color: #112211;
}
.confirm {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  text-align: center;

  color: #112211;

  opacity: 0.75;
}
