.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1232px;
}

.sub_text > h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 8px;

    color: black;
}
.sub_text > p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-top: 8px;

    color: black;
}

.btn_con > button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding: 8px 16px;

    border: 1px solid #8DD3BB;
    border-radius: 4px;

    background-color: #fff;
    
    color: #112211;
}